@keyframes animacionTitulo {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(50%);
      opacity: 0;
    }
    50% {
      transform: translateX(100%);
      opacity: 0;
    }
    75% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  #titulo {
    animation: animacionTitulo 2500ms infinite;
  }

